[build]
publish = "dist"
command = "npx vite build"

[build.environment]
SECRETS_SCAN_SMART_DETECTION_OMIT_VALUES = "AIzaSyCqDyPwhqUQ6kqcbyBdXSrq0D09S7aEw5c"

[[headers]]
for = "/*"

[headers.values]
X-Content-Type-Options = "nosniff"

[[headers]]
for = "/sw.js"

[headers.values]
Cache-Control = "no-cache"

[[redirects]]
from = "/assets/*"
to = "/assets/:splat"
status = 200

[[redirects]]
from = "/icons/*"
to = "/icons/:splat"
status = 200

[[redirects]]
from = "/manifest.json"
to = "/manifest.json"
status = 200

[[redirects]]
from = "/sw.js"
to = "/sw.js"
status = 200

[[redirects]]
from = "/*"
to = "/index.html"
status = 200